.container {
  display: flex;
  height: 100vh;
  width: 300px;
  flex-direction: column;
}

.green{
background-color: green;
flex-grow: 1;
}

.yellow{
  background-color: yellow;
  flex-grow: 2;
  order: 2;
}

.purple{
  background-color: purple;
  flex-grow: 1;
}