body{
display: flex;
justify-content: space-between;
align-items: center;
height: 130px;
width: 310px;
}

.list{
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 2px;
}

.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 50px;
}

li{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.selected{
  background-color: rgb(190, 190, 190);
}