<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add new post</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <p class="title">SPACE </p>
  </header>
  <form>
    <label for="title">Title</label>
    <input class="titleData" type="text" , name="title" autofocus required>
    <label for="url">URL</label>
    <input class="url" type="url" name="url" required>
    <button type="submit">Add post</button>
  </form>
  <script src="../static/js/new.js"></script>
</body>

</html>