* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  padding-top: 100px;
  background: gray;
  display: flex;
  width: 80%;
}

input {
  height: 40px;
  width: 400px;
}

button {
  height: 30px;
  width: 100px;
}