.box{
  display: grid;
  grid-template-columns: 5% 30% 60% 5%;
  grid-template-rows:   10% 80% 10%;
  width: 100vw;
  grid-gap: 10px;
}

header{
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  background-color: purple;
  grid-column: 1/5;
}

header>div{
  background-color: aqua;
  color: aqua;
  margin: 10px;
}

.one{
  grid-column: 2/4;
}

.two{
  grid-column: 4/6;
}

.three{
  grid-column: 6/8;
}

.four{
  grid-column: 8/10;
}

.left{
  background-color: green;
  grid-column: 2/3;
  grid-row: 2/2;
  color: green;
  height: 70vh;
}

.right{
  background-color: yellow;
  grid-column: 3/4;
  grid-row: 2/2;
  color: yellow;
  height: 70vh;
}

footer{
  grid-column: 2/4;
  background-color: grey;
  color: grey;
}