<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
  <div class="main">
    <button id="left" class="button">
      <img class="arrow leftA" src="static\images\arrow.svg">
    </button>
    <div class="image ">
      <img id="image" src=<%= selected.img %>>
      <div class="desc">
        <h2 id="head">
          <%=selected.name%>
        </h2>
        <p id="text">
          <%=selected.description%>
        </p>
      </div>
    </div>
    <button id="right" class="button">
      <img class="arrow rightA" src="static\images\arrow.svg">
    </button>
  </div>
  <ul class="small">
    <% images.forEach(element => { %>
    <li>
      <button class="smallButton">
        <img class="smallImg" src=<%= element.img %>>
      </button>
    </li>
    <% }) %>
  </ul>
  <script src="static\js\gallery.js"></script>
</body>

</html>