<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/main.css">
  <title>Newsletter</title>
</head>

<body>
  <form method="POST" action="/signup">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required autofocus>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <input type="submit">
  </form>
  <script src="../static/js/main.js"></script>
</body>

</html>