<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>Sign up</title>
</head>

<body>
  <form>
    <label for="email">Email</label>
    <input type="email" name="email" class="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" class="password" required pattern="[a-zA-Z].{1,20}">
    <label for="cupon">Cupon code</label>
    <input type="text" name="cupon" class="cupon" pattern="FIRST100">
    <button type="submit" class="submit">Submit</button>
  </form>
  <ul> Latest registered users
    <% rows.forEach(element=>{%>
    <li class="user">
      <p><%=element.userName %></p>
    </li>
    <%});%>
  </ul>
  <script src="../static/js/main.js"></script>
</body>

</html>