.box{
  display: grid;
  grid-template-columns: 5% 45% 22.5% 22.5% 5%;
  grid-template-rows:   10% 40% 40% 10%;
  width: 100vw;
  grid-gap: 10px;
}

header{
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  background-color: purple;
  grid-column: 1/6;
}

header>div{
  background-color: aqua;
  color: aqua;
  margin: 10px;
}

.one{
  grid-column: 2/4;
}

.two{
  grid-column: 4/6;
}

.three{
  grid-column: 6/8;
}

.four{
  grid-column: 8/10;
}

footer{
  grid-column: 2/5;
  background-color: grey;
  color: grey;
}

.box>div{
  background-color: green;
  height: 40vh;
}

.five{
  grid-column: 2/3;
  grid-row: 2/3;
}

.six{
  grid-column: 3/5;
  grid-row: 2/3;
}

.seven{
  grid-column: 2/3;
  grid-row: 3/4;
}

.eight{
  grid-column: 3/4;
  grid-row: 3/4;
}

.nine{
  grid-column: 4/5;
  grid-row: 3/4;
}

.outer{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
}

.inner{
  background-color: red;
  grid-row: 2/3;
  grid-column: 2/3;
}