<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My own reddit</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <h1> <%=basic%> </h1>

</body>

</html>