<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My own reddit</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <p class="title">SPACE </p>
  </header>
  <div class="main">
    <ul class="postList">
      <li class="post">
        <div class="rating">
          <img src="../static/img/upvote.png">
          <p class="vote">100</p>
          <img src="../static/img/downvote.png">
        </div>
        <div class="postDetail">
          <div class="postHeader">
            <p class="postTitle">title</p>
            <a class="postUrl" href="">(url)</a>
          </div>
          <div class="dateOwner">
            <p class="date">date</p>
            <p class="owner">owner</p>
          </div>
          <div>
            <a href="">delete</a>
            <a href="">edit</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="info">
      <button>Submit post</button>
      <div>
        <p>about</p>
      </div>
    </div>
  </div>
</body>

</html>