.container {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  width: 600px;
  height: 300px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.item{
  height: 50px;
  width: 50px;
  background-color: purple;
  list-style-type: none;
  margin-left: 10px;
}