<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>Quiz</title>
</head>

<body>
  <div class="main">
    <h2>Score: n</h2>
    <div class="questions">
      <p class="question">questions</p>
      <button class="answ1">answer1</button>
      <button class="answ2">answer2</button>
      <button class="answ3">answer3aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</button>
      <button class="answ4">answer4</button>
    </div>
    <a href="./questions">Manage questions</a>
  </div>

  <script src="../static/js/main.js"></script>
</body>

</html>