.main{
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.head{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
}

table{
  width: 500px;
  table-layout: fixed;
  display: flex; 
}

tbody tr:nth-child(odd){
  background-color: rgb(161, 161, 161);
}

.name{
  display: flex;
  background-color: black;
  color: white;
  height: 50px;
  width: 399px;
  margin-right: 1px;
  justify-content: center;
  align-items: center
}

.price{
  display: flex;  
  background-color: black;
  color: white;
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center
}

.specName{
  list-style-type: none;
  height: 50%;
}

.specContain{
  list-style-type: none;
  height: 50%;
}

.priceStyle{
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
  list-style-type: none;
}

.alcoholStyle{
  height: 60px;
  width: 400px;
  padding: 0;
}