<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <h1>Cocktails</h1>
  <ul class="main">
    <% for (let index = 0; index < alcoholList.length; index++) { %>
    <li><%= alcoholList[index]%> </li>
    <%}%>
  </ul>

  <table class="list">
      <thead>
        <ul class="head">
          <li class="name">NAME</li>
          <li class="price">PRICE</li>
        </ul>
      </thead>
<tbody>
  <% for ( let index=0; index < currentCocktails.length; index++){ %>
    <tr>
      <td class="alcoholStyle">
        <ul>
          <li class="specName"><strong><%= currentCocktails[index].name%></strong>
            <% if(currentCocktails[index].isAlcoholic){%>
            (non-alcoholic)
            <%}%>
          </li>
          <li class="specContain"><%= currentCocktails[index].contains%> </li>
        </ul>
      </td>
      <td class="priceStyle">
        <li><strong><%= currentCocktails[index].price%></strong> </li>
      </td>
    </tr>
    <%}%>
</tbody>
    </table>

</body>

</html>